* {
    font-family: "Inter";
    color: white;
    margin: 0px;
    padding: 0px;
}

#top-menu {
    background-color: #303030;
    width: 100%;
    height: 80px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #BABABA;
}

#top-menu div a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    line-height: 30.26px;
    text-align: left;
}

#top-menu div a:hover {
    color: #CCCCCC;
}

#menu {
    display: flex;
    width: 45%;
    justify-content: space-around;
    align-items: center;
    margin-left: 5%;
}

#top-menu button {
    margin-right: 5%;
    background-color: #0C70F2;
    border: 0px;
    height: 30px;
    width: 65px;
    font-family: Inter;
    font-size: 15px;
    font-weight: 600;
    box-shadow: 3px 2px 4px rgb(12, 112, 242, 0.25);
    cursor: pointer;
}